@import "tailwindcss";

@layer base {
  *::selection {
    background: #fffdf7;
    color: #353839;
  }

  :root {
    --background: #353839;
    --foreground: #fffdf7;
    /* #0A2342 */
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Manrope, Helvetica, sans-serif;
  }
}
